<h1 class="text-primary text-center">cap nhat thong tin</h1>
<br>
<% if current_user.has_role? :student %>
  <%= render "update_info_student" %>
<% elsif current_user.has_role? :lecturer %>
  <%= render "update_info_lecturer" %>
<% elsif current_user.has_role? :partner %>
  <%= render "update_info_partner" %>
<% elsif current_user.has_role? :admin %>

<% end %>
