<div class="container">
    <div class="col-sm-4 col-md-4 col-lg-4">
        <img style="width: 400px; height:300px" alg="profile image">
        <% if current_user %>
            
        <% end %>
        <div class="hr-text">
            <span>WORK</span>
        </div>
        <address>
            Written by <a href="mailto:webmaster@example.com">Jon Doe</a>.<br>
            Visit us at:<br>
            Example.com<br>
            Box 564, Disneyland<br>
            USA
        </address> 

        <div class="hr-text">
                <span>SKILLS</span>
        </div>
        <ul class="list-unstyled">
            <li>
                UI/UX
            </li>
            <li>HTML</li>
            <li>CSS</li>
            <li>Rails</li>
            <li>Python</li>
        </ul>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
           
           <div>
               <h3>Nguyen Ngoc Phuc</h3>
               <address>
                    <span class="glyphicon glyphicon-map-marker"></span> HaNoi, HN
               </address>
           </div>
           <div class="">
               
           </div>
           <hr class="opacity-75"/>

           <div class="opacity-75 upcase text-small">Contact information</div>
           <address>
            <div class="wrapper-information">
                <strong>Phone: </strong>
                <span>+84 01654202208</span>
            </div>
            <div class="wrapper-information">
               <strong>Email: </strong>
               <span>nnp.uet@gmail.com</span>
            </div>
            <div class="wrapper-information">
               <strong>Site: </strong>
               <span>nnp.com</span>
            </div>
           </address>
           <hr class="opacity-75"/>
           <div class="opacity-75 upcase text-small">base information</div>
           <address>
            <div class="wrapper-information">
                <strong>BirthDate: </strong>
                <span>Oct 15, 1992</span>
            </div>
            <div class="wrapper-information">
               <strong>Gender: </strong>
               <span>male</span>
            </div>
           </address>

    </div>

</div>