// Place all the styles related to the thuctaps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.pagination {
    display: inline-block;
    .page,.next,.last,.first {
        padding: 0 10px;
    }
    .current {
        color: orange;
    }
}

.thuctap-list-element:nth-of-type(odd) {
    background-color: white;
}
.post-logo-wrapper:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 30%;
}
.thuctap-list-element:hover{
    background: #45526E;
    color: white;
}
