// Place all the styles related to the thuctaps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.tin-thuc-tap:nth-last-of-type(odd) {
    background-color: #ECEAE6;
}

.post-logo {
    max-width: 150px;
    max-height: 100px;
    display: inline-block;
}
.post-logo-wrapper {
    height: 180px;
    text-align: center;
}
.post-logo-wrapper:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 30%;
}
